name: Testing application

on:
  push:

env:
  MIX_ENV: test

permissions:
  contents: read

jobs:
  test:
    name: Test
    runs-on: ubuntu-24.04
    services:
      mysql:
        image: mysql:8.0
        ports: ["3306:3306"]
        env:
          MYSQL_ROOT_PASSWORD: "mypassword"
    steps:
      - name: Set up Elixir
        uses: erlef/setup-beam@v1
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Install dependencies
        run: mix deps.get
      - name: Compiles without warnings
        run: mix compile --warnings-as-errors
      - name: Check formatting
        run: mix format --check-formatted
      - name: Run unit tests
        run: mix test
        env:
          DATABASE_TEST_PASSWORD: "mypassword"
          DATABASE_TEST_HOSTNAME: "mysql"
